@using Shared.Resources;
@model Shared.Model.Request.AdminUser.LoginHistoryRequestModel
@{
    var pageSize = ViewBag.PageSize;
    var pageIndex = ViewBag.PageIndex;
    ViewData["Title"] = "Login History";
    int UserId = @Model.UserId;
}
<style>
    tfoot b {
        font-weight: bold;
    }

    .date-input-gp {
        position: relative;
        width: 150px
    }

        .date-input-gp input {
            padding-right: 25px
        }

        .date-input-gp i {
            position: absolute;
            right: 13px;
            top: 7px;
        }

    .outline-btn {
        border: solid 1px #EC881D !important;
        color: #EC881D;
        font-weight: 500;
        padding: 6px 15px;
        border: 1px solid #fff;
        border-radius: 20px;
        font-size: 14px;
    }
</style>
@Html.HiddenFor(x => pageSize)
@Html.HiddenFor(x => pageIndex)
@Html.HiddenFor(x => ResourceString.ActivateUser, new { @id = "activateUserMsg" })
@Html.HiddenFor(x => ResourceString.DeactivateUser, new { @id = "deactivateUserMsg" })
@Html.HiddenFor(x => ResourceString.DeleteUser, new { @id = "deleteUserMsg" })
@Html.HiddenFor(x => ResourceString.RecoverUser, new { @id = "recoverUserMsg" })


<div class="row flex-fill g-4">
    <div class="col-md-12">
        <div class="box-header mt-3 border-0 mb-3" style="display:flex; align-items:center">
            <h1>Subordinates Login History</h1>
        </div>
        <div class="white-box">

            <div class="calendarOuter row align-items-center mb-3 mt-3">
                <div class="col-auto ps-0">Filter :</div>
                <div class="col-auto ">
                    <div class="date-input-gp">
                        <i><img src="~/assets/images/calendar.svg"> </i>
                        <input type="text" id="txtFromDate" class="form-control calendarIconCss mb-2" placeholder="From" autocomplete="off" readonly="readonly">
                    </div>
                </div>

                <div class="col-auto">
                    <div class="date-input-gp">
                        <i><img src="~/assets/images/calendar.svg"> </i>
                        <input type="text" id="txtToDate" class="form-control calendarIconCss mb-2" placeholder="To" autocomplete="off" readonly="readonly">
                    </div>
                </div>

                <div class="col-6 col-sm-auto mb-2 mt-0">
                    <select class="form-control form-select" asp-for="UserId" onchange="loginHistory.filterRecord()" asp-items="@ViewBag.AdminUserSelectList" placeholder="select County" style="width:280px">
                        <option value="0">Select Admin User</option>
                    </select>
                </div>

                <div class="col-auto">
                    <a href="javascript:void(0)" onclick="Reset();" class="btn outline-btn mb-2">Reset All</a>
                    <a href="javascript:void(0)" onclick="LoadTable();" class="btn login-btn mb-2">Search</a>
                </div>

                @* <div class="col">
                    <div class="col-6 col-sm-auto mb-2 mt-0" style="float:right">
                        <div class="Searchbar">
                            <input id="seachinput" type="text" class="form-control seachinput search-input" placeholder="Search here">
                        </div>
                    </div>

                </div> *@
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-default align-middle nowrap" id="data-table_loginHistory" style="width:100% !important">
                    <thead>
                        <tr>
                            @foreach (var p in new Shared.Model.DTO.LoginHistoryDto().GetType().GetProperties().Where(p => !new List<string>() { "LoginTime", "LogOutTime", "TotalRecord" }.Contains(p.Name)))
                            {
                                if (p.GetCustomAttribute<DisplayAttribute>()?.Name == "Display Name")
                                {
                                    <th data-name="@p.Name">User Name</th>

                                }
                                else
                                {
                                    <th data-name="@p.Name">@(p.GetCustomAttribute<DisplayAttribute>()?.Name ?? p.Name)</th>

                                }
                            }
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
</div>



@section scripts {
    <script>
        var userId = '@UserId';
    </script>
    <environment include="Development">
        <script src="~/sitejs/common/table.js" asp-append-version="true"></script>
        <script src="~/sitejs/loginHistory.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/table.min.js" asp-append-version="true"></script>
        <script src="~/js/loginHistory.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $("#LoginHistoryReport").addClass('active');
        });
    </script>
}

