@using Shared.Common.Enums
@using Shared.Resources;
@model Shared.Model.DTO.UserTokenTransactionDto
@{
    var pageSize = ViewBag.PageSize;
    var pageIndex = ViewBag.PageIndex;
    ViewData["Title"] = "Client Spending Report";
    var list = new List<string>();
    if (Model.FilterBy == 1)
    {
        list = new List<string>() { "TotalRecord", "Description", "CurrentId", "FilterBy", "EscortName", "PointsSpent", "UserId", "PointsBalance", "Name", "TransactionType", "UserId" ,"ID"};
    }
    else if (Model.FilterBy == 2)
    {
        list = new List<string>() { "TotalRecord", "CurrentId", "FilterBy", "PurchaseId", "PointsBalance", "UserId", "Name", "PointsPurchased", "Amount", "TransactionType", "UserId", "ID" };
    }
    else
    {
        list = new List<string>() { "TotalRecord", "Description", "CurrentId", "FilterBy", "PurchaseId", "UserId", "Name", "Amount", "EscortName", "TransactionType", "UserId", "ID" };
    }
}
<style>
    tfoot b{
        font-weight:bold;
    }

    .date-input-gp {
        position: relative;
        width: 150px
    }

    .date-input-gp input {
        padding-right: 25px
    }

    .date-input-gp i {
        position: absolute;
        right: 13px;
        top: 7px;
    }

    .outline-btn {
        border: solid 1px #EC881D !important;
        color: #EC881D;
        font-weight: 500;
        padding: 6px 15px;
        border: 1px solid #fff;
        border-radius: 20px;
        font-size: 14px;
    }
</style>
@Html.HiddenFor(x => pageSize)
@Html.HiddenFor(x => pageIndex)

<input id="filterBy" type="hidden" value="@Model.FilterBy" />
<input id="currentId" type="hidden" value="@Model.CurrentId" />

<div class="d-flex">
    <h4 class="mb-3">Client Spending Report on Live Cam Services</h4>
    <div class="ms-auto d-flex align-items-center mb-2">
        <a href="@Url.Action("ExportClientBalanceReport","UserTokenTransaction",new{@UserId = @Model.CurrentId, @FilterBy = @Model.FilterBy})" class="btn login-btn">Export Balance Report</a>
        <a href="@Url.Action("ExportUserTransactionReport","UserTokenTransaction",new{@UserId = @Model.CurrentId, @FilterBy = @Model.FilterBy})" class="btn login-btn">Export Excel</a>
    </div>
</div>


<div class="white-box">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Purchase-tab" data-filter="@((short)UserTokenTransaction.Purchase)" type="button" role="tab">Purchase</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Spent-tab" data-filter="@((short)UserTokenTransaction.Spent)" type="button" role="tab">Spent</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="Balance-tab" data-filter="@((short)UserTokenTransaction.Balance)" type="button" role="tab">Balance</button>
        </li>
    </ul>
    <div class="calendarOuter row align-items-center mb-3 mt-3">
        <div class="col-auto ps-0">Filter :</div>
        <div class="col-auto ">
            <div class="date-input-gp">
                <i><img src="~/assets/images/calendar.svg"> </i>
                <input type="text" id="txtFromDate" class="form-control calendarIconCss mb-2" placeholder="From" autocomplete="off" readonly="readonly">
            </div>
        </div>

        <div class="col-auto">
            <div class="date-input-gp">
                <i><img src="~/assets/images/calendar.svg"> </i>
                <input type="text" id="txtToDate" class="form-control calendarIconCss mb-2" placeholder="To" autocomplete="off" readonly="readonly">
            </div>
        </div>


        <div class="col-auto">
            <a href="javascript:void(0)" onclick="Reset();" class="btn outline-btn mb-2">Reset All</a>
            <a href="javascript:void(0)" onclick="LoadTable();" class="btn login-btn mb-2">Search</a>
        </div>

        <div class="col">
            <div class="col-6 col-sm-auto mb-2 mt-0" style="float:right">
                <div class="Searchbar">
                    <input id="seachinput" type="text" class="form-control seachinput search-input" placeholder="Search here">
                </div>
            </div>

        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-default align-middle nowrap" id="data-table_userTransaction" style="width:100% !important">
            <thead>
                <tr>
                    @foreach (var p in new Shared.Model.DTO.UserTokenTransactionDto().GetType().GetProperties().Where(p => !list.Contains(p.Name)))
                    {
                        <th data-name="@p.Name">@(p.GetCustomAttribute<DisplayAttribute>()?.Name ?? p.Name)</th>
                    }
                </tr>

            </thead>
            <tfoot>
                <tr>
                    @{
                        if (Model.FilterBy == 1)
                        {
                            <td></td>
                            <td colspan="2"><b>Total</b></td>
                            <td id="total_purchase"></td>
                            <td id="total_amount"></td>
                        }
                        else if (Model.FilterBy == 2)
                        {
                            <td colspan="3"></td>
                            <td><b>Total</b></td>
                            <td id="total_spent_2"></td>
                           
                        }
                        else
                        {        
                            <td></td>
                            <td colspan="1"><b>Total</b></td>
                            <td id="total_purchase"></td>
                            <td id="total_spent"></td>
                            <td id="total_balance"></td>                           

                        }
                    }
                </tr>
            </tfoot>
        </table>
    </div>
</div>


@section scripts {
    <environment include="Development">
        <script src="~/sitejs/common/table.js" asp-append-version="true"></script>
        <script src="~/sitejs/pointPurchaseSummary.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/table.min.js" asp-append-version="true"></script>
        <script src="~/js/pointPurchaseSummary.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $("#ClientSpendingReport").addClass('active');
            $("#revenuereport").addClass('active');
        });

        if ($('#filterBy').val() == 1) {
            $(document).ready(function () {
                $("#Purchase-tab").addClass('active');
            });
        } else if ($('#filterBy').val() == 2) {
            $(document).ready(function () {
                $("#Spent-tab").addClass('active');
            });
        } else {
            $(document).ready(function () {
                $("#Balance-tab").addClass('active');
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.nav-link');
            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var filterBy = this.getAttribute('data-filter');
                    var currentId = document.getElementById('currentId').value;
                    window.location.href = `/UserTokenTransaction/GetListByName?userId=${currentId}&filterBy=${filterBy}`;
                });
            });
        });
    </script>
}