@using Shared.Resources;
@model Shared.Model.DTO.UserTokenTransactionDto
@{
    var pageSize = ViewBag.PageSize;
    var pageIndex = ViewBag.PageIndex;
    ViewData["Title"] = "Client Spending Report";

}
@Html.HiddenFor(x => pageSize)
@Html.HiddenFor(x => pageIndex)



<div class="row flex-fill g-4">
    <div class="col-md-12">

        <div class="d-flex">
            <h4 class="mb-3">Client Spending Report on Live Cam Services</h4>
            <div class="ms-auto d-flex align-items-center mb-2">
                <a href="@Url.Action("ExportSpendingReport","UserTokenTransaction")" class="btn login-btn">Export Excel</a>
            </div>
        </div>

        <div class="white-box">
            <div class="d-flex row mt-2 g-sm-2">
                <div class="col-6 col-sm-auto mb-2 mt-0">
                    <div class="Searchbar">
                        <input id="seachinput" type="text" class="form-control seachinput" placeholder="Search here">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-default align-middle nowrap" id="data-table_userTokenTransaction" style="width:100% !important">
                    <thead>
                        <tr>
                            @foreach (var p in new Shared.Model.DTO.UserTokenTransactionDto().GetType().GetProperties().Where(p => !new List<string>() { "TotalRecord", "Description", "CurrentId", "FilterBy", "Date", "PurchaseId", "Amount", "EscortName", "TransactionType", "UserId" }.Contains(p.Name)))
                            {
                                <th data-name="@p.Name">@(p.GetCustomAttribute<DisplayAttribute>()?.Name ?? p.Name)</th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <environment include="Development">
        <script src="~/sitejs/common/table.js" asp-append-version="true"></script>
        <script src="~/sitejs/usertokentransaction.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/table.min.js" asp-append-version="true"></script>
        <script src="~/js/usertokentransaction.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function () {
            $("#ClientSpendingReport").addClass('active');
            $("#revenuereport").addClass('active');
        });


    </script>
}