@model Shared.Model.Request.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

    <div class="row flex-fill g-4">
        <div class="col-md-12">

        <div class="box-header mt-3 border-0 mb-3" style="display:flex; align-items:center">
                    <h1>Change Password</h1>
                </div>
            <div class="white-box">
                <div class="col-lg-3 offset-lg-5 pt-4 pb-4">
                <form id="ChangePasswordFrm">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label>Old Password</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", @placeholder = "Old Password", @maxlength = 20, @type = "password", @style = "padding-left: 8px; !important" })
                                <span class="iconInputRight">
                                    <img class="togglePassword eye-icon" src="~/assets/images/eye.svg" onclick="togglePasswordElement(this)" />
                                </span>
                            </div>
                            @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <label>New Password</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "New Password", @maxlength = 20, @type = "password", @style = "padding-left: 8px; !important" })
                                <span class="iconInputRight">
                                    <img class="togglePassword eye-icon" src="~/assets/images/eye.svg" onclick="togglePasswordElement(this)" />
                                </span>
                            </div>
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <label>Confirm Password</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @maxlength = 20, @type = "password", @style = "padding-left: 8px; !important" })
                                <span class="iconInputRight">
                                    <img class="togglePassword eye-icon" src="~/assets/images/eye.svg" onclick="togglePasswordElement(this)" />
                                </span>
                            </div>
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12 pt-2">
                            <button class="btn btn-primary w-100 text-center" type="button" onclick="ChangePasswordAdmin(this)">Submit</button>
                        </div>
                    </div>

                </form>
                </div>
              
                
            </div>
        </div>
    </div>


<!-- Js -->

@section scripts{
    
    <script>
        $(document).ready(function () {
            $("#ChangePassword").addClass('active');

        });

        function togglePasswordElement(element) {
                
            var passwordField = $(element).closest('div').find('input');
            var type = passwordField.attr('type');
            if (type === 'password')
            {
                passwordField.attr('type', 'text');
                $(element).attr('src', '/assets/images/eye-slash.svg');
            } else
            {
                passwordField.attr('type', 'password');
                $(element).attr('src', '/assets/images/eye.svg');
            }
        }

        function ChangePasswordAdmin(_this)
        {
            EnableDisableButton($(_this), true);
            toastr.remove();
            if ($("#ChangePasswordFrm").valid())
            {
                $.ajax({
                    type: 'Post',
                    url: "/User/ChangePassword",
                    data: $("#ChangePasswordFrm").serialize(),
                    success: function (response)
                    {
                        toastr.success(response.message);
                        setTimeout(function ()
                        {
                            window.location.href = "/Account/Logout";
                        }, setTimeoutIntervalEnum.onRedirection);
                    },
                    error: function (response)
                    {
                        toastr.error(response.responseJSON?.message);
                        EnableDisableButton($(_this), false);
                    }
                });
            }
            else
            {
                EnableDisableButton($(_this), false);
                return false;
            }
        }

    </script>
}