@using Shared.Common
@using Shared.Common.Enums
@model List<Shared.Model.DTO.EscortSearchDto>
@{
    Layout = null;
}

<style>
    /* Optional: Custom CSS for styling */
    .carousel {
        width: 100%;
        margin: auto;
    }

        .carousel img {
            width: 100%;
            height: auto;
        }

    .slick-slide {
        padding: 0 10px;
    }

    .slick-prev {
        left: -15px;
    }

    .slick-next {
        right: -15px;
    }
</style>
@if (Model.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12 d-flex align-items-center justify-content-between mb-4">
                <h2 class="mb-0"><span>Popular</span> Escorts</h2>
                <div>
                    <a href="@Url.Action("PopularEscorts","Home")" class="btn btn-outline-primary viewAllBtn">View All</a>
                </div>
            </div>
        </div>


        <div class="carousel">
            @foreach (var escort in Model)
            {

                <div style="position:relative">
                    <a href="/profile/fullProfile?id=@(escort.UserId)" class="escortsBlog">
                        <img class="escortImg" src="@Url.Content("~/assets/images/uploading.gif")" data-dimension="vertical" data-src="@escort.ProfileImage">
                        @if (escort.IsPhotoVerified)
                        {
                            <i class="verifiedIcon"><img src="~/assets/images/verified.svg" /></i>
                        }
                        <div class="abBlog">@(escort.UserType == (int)UserTypes.IndependentEscort ? "Independent" : "Establishment")</div>
                        <div class="escortsDetails">
                            <h4>@escort.DisplayName</h4>
                            @{
                                var location = escort.CityName;
                                if (!string.IsNullOrEmpty(escort.StateName))
                                {
                                    location += !string.IsNullOrEmpty(location) ? $", {escort.StateName}" : escort.StateName;
                                }
                                if (!string.IsNullOrEmpty(escort.Country))
                                {
                                    location += !string.IsNullOrEmpty(location) ? $", {escort.Country}" : escort.Country;
                                }
                            }
                            <h6>@location</h6>
                            <ul class="allDetailsEscort">
                                <li>Age: <span>@escort.Age</span> </li>
                                <li>Dress Size: <span>@(escort.Dress ?? "N/A")</span> </li>
                                <li>Price: <span>Visit Profile for Rates</span> </li>
                                <li>Place of Service: <span>Incall, Outcall</span> </li>
                            </ul>
                        </div>
                    </a>
                    <div class="rating-row">
                        <div class="viewCountNo"><img src="~/assets/images/viewcount.svg"> <span>@escort.TotalViews</span></div>
                        @if (LoginMemberSession.UserDetailSession != null)
                        {
                            if (escort.IsFavorite)
                            {
                                <div class="favoriteIcon" onClick="common.favoriteIcon(this)" data-bool="true" data-id="@escort.EscortId" style="cursor:pointer"><img src="@Url.Content("~/assets/images/favorite_fi.svg")"></div>
                            }
                            else
                            {
                                <div class="favoriteIcon" onClick="common.favoriteIcon(this)" data-bool="false" data-id="@escort.EscortId" style="cursor:pointer"><img src="@Url.Content("~/assets/images/favorite.svg")"></div>
                            }
                        }
                    </div>
                    
                </div>

            }

        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function ()
        {
            
        });
    </script>
}