@model Shared.Model.Request.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="container">
    <div class="pageTitles mt-3">
        <h2><span style="color:#EC881D">Change</span> Password</h2>
    </div>
    <div class="card border-0 mt-3 mb-3">
        <div class="row justify-content-center">
            <form id="ChangePasswordFrm">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label>Current Password</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", @placeholder = "Current Password", @maxlength = 20, @type = "password", @style = "padding-left: 8px; !important" })
                            </div>
                            @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>New Password</label>
                                <div class="position-relative">
                                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "New Password", @maxlength = 20, @type = "password", @style = "padding-left: 8px; !important" })
                                </div>
                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label>Confirm Password</label>
                                <div class="position-relative">
                                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @maxlength = 20, @type = "password", @style = "padding-left: 8px; !important" })
                                </div>
                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pt-2">
                            <div class="mb-3">
                                <button class="btn btn-primary text-center" type="button" onclick="ChangePasswordUser(this)">Submit</button>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
</div>




<!-- Js -->
<environment include="Development">
    <script src="~/sitejs/user.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/user.min.js"></script>
</environment>


